---
title: Vectorattire
author: James Daly
email: j.daly.2015@my.bristol.ac.uk
comments: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
        
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <main>
      <section class="mark">
        <a href="/">{% include mark.svg %}</a>
      </section>

      <section>
        <article>
          <h1>{{ page.title }}</h1>
          {%- unless page.nodate -%}<h3 class="fade">{{ page.date | date: "%A, %e %B %Y" }}</h3>{%- endunless -%}
          
          <div><div>
        {% for attire in site.data.vectorattire %}
          {% if attire.div %}
          </div></div>
          </div>
          <div class="row">
            <div class="col-2 shy">
              <p>
                {{ attire.div }} &mdash;
              </p>
            </div>
            <div class="col">
              <div class="bumpy">
              {% else %}
                <div class="row card">
                  <div class="col-4">
                  {% if attire.svg %}
                    {% include vectorattire/{{ attire.svg }}.svg %}</i>
                  {% endif %}
                  </div>
                  <div class="col">
                    <span class="big">
                      {{ attire.date }}
                    </span>
                    <ul class="desc">
                      {% for item in attire.items %}
                      <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>