---
---

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
// @import url('https://indestructibletype.com/fonts/Jost.css');

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

* {
  box-sizing: border-box;
}

:root {
  --base00: #000;
  --base01: #111;
  --base02: #1d414d;
  --base03: #333;
  --base04: #444;
  --base05: #777;
  --base06: #aaa;
  --base07: #eee;
  --base08: #d88568;
  --base09: #d86868;
  --base0A: #b99353;
  --base0B: #83a471;
  --base0C: #7c9cae;
  --base0D: #8eccdd;
  --base0E: #b98eb2;
  --base0F: #8b6c37;
}

html {
  background-color: var(--base01);
  overflow-x: hidden;
}

@media screen and (min-width: 100em) {
  html {
    font-size: 1vw;
  }
}

html,
input,
button,
select {
  color: var(--base07);
  font-family: 'Jost', sans-serif;
  font-feature-settings: 'calt' 1, 'dlig' 1;
  font-weight: 300;
  line-height: 1.4;
}

*::selection {
  color: var(--base07);
  background-color: var(--base0E);
}

body {
  padding-bottom: 1.4em;
}

body > * {
  margin: 0;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

header {
  padding-top: 3.5rem;
  padding-bottom: 2.1rem;
}

main {
  background-color: var(--base00);
  padding-top: 3.5rem;
  padding-bottom: 0.7rem;
  min-height: 93.75vh;
  min-height: calc(100vh - 1.4rem);
}

footer {
  color: var(--base03);
  padding-top: 2.8rem;
  padding-bottom: 0rem;
}

strong {
  font-weight: 600;
}

header > *,
main > *,
footer > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 39rem;
}

@media screen and (min-width: 100em) {
  header > *,
  main > *,
  footer > * {
    max-width: 72rem;
  }
}

a {
  color: var(--base0D);
  text-decoration: none;
}

// @supports (font-variation-settings: normal) {
//   html { font-family: 'Inter UI var alt', sans-serif; }
// }

svg {
  display: unset;
}

i {
  margin-right: .25em;
}

i svg {
  color: currentColor;
  fill: currentColor;
  height: 1em;
  margin-top: -.125em;
  opacity: .75;
  vertical-align: middle;
}

.mark svg {
  color: var(--base07);
  height: 2em;
}

.card .mark {
  margin-left: -2.25em;
  margin-right: .5625em;
  overflow: visible;
}

.card .mark svg {
  height: 1.4em;
}

section {
  margin-bottom: 4.2rem;
  margin-top: 2.8rem;
}

p,
dl,
ol,
ul {
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
}

.card {
  margin-top: 2.8rem;
  margin-bottom: 0rem;
  padding-left: 5.6rem;
  vertical-align: top;
}

@media screen and (min-width: 100em) {
  .card {
    display: inline-block;
    width: 49%;
    width: calc(50% - 0.15em);
  }
}

ul {
  padding-left: 1em;
}

ul.inline {
  list-style: none;
  margin-top: -0.7rem;
  padding-left: 0;
}

ul.inline li {
  display: inline-block;
  margin: 0.7rem 1.5rem 0 0;
  text-indent: 0;
  white-space: nowrap;
}

ul.inline li.break-after:after {
  content: "\a";
  white-space: pre;
}

ul.inline li i svg {
  color: var(--base02);
  fill: var(--base02);
  opacity: 1;
}

ul.inline li a {
  text-decoration: none;
}

.desc {
  color: var(--base05);
}

.tags {
  color: var(--base05);
}

.big {
  font-size: 1.25rem;
}

.bold strong {
  font-size: 1.25rem;
  background-color: var(--base07);
  color: var(--base00);
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.shy {
  color: var(--base05);
}

.b {
  white-space: initial;
}

.nb {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.7rem;
  margin-right: -0.7rem;
  margin-bottom: 4.2rem;
}

.col,
[class^='col'] {
  max-width: 100%;
  flex-basis: 1;
  flex-grow: 1;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  position: relative;
  width: 100%;
}

@media (min-width: 30rem) {
  .col,
  [class^='col'] {
    flex-basis: 0;
  }

  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-2 {
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }

  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.bump {
  margin-left: -4.2rem;
}

.bump,
.bumpy {
  margin-top: -1.625rem;
}

img {
  display: inline-block;
  max-width: 100%;
  outline: 1px solid rgba(255, 255, 255, .36);
  outline-offset: -1px;
}

.halfwidth,
.thirdwidth {
  display: inline-block;
  margin-right: 0.36em;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.halfwidth {
  max-width: 49%;
  max-width: calc(50% - 0.36em);
}

.thirdwidth {
  max-width: 32%;
  max-width: calc(33.3333% - 0.36em);
}

svg.fill {
  fill: var(--base07);
}

.center {
  text-align: center;
}

hr {
  border: 0.5px solid var(--base07);
  margin-bottom: 2.1rem;
  margin-top: 2.1rem;
}

hr.invisible {
  opacity: 0;
}

.fl {
  float: left;
  margin-right: 2.1rem;
}

.fr {
  float: right;
  margin-left: 2.1rem;
}

.cb {
  clear: both;
}

.xpadb {
  padding-bottom: 1.4rem;
}

.admin {
  color: var(--base0E);
}

input[type="button"],
button {
  background: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 9999px;
  padding: 0.4em 0.8em;
}

#toolbar {
  text-align: right;
  position: fixed;
  top: 1em;
  right: 1em;
}

#toolbar > * {
  margin: 0.5em;
}

.data {
  margin-bottom: -0.7em;
}

.data input {
  background: none;
  border: 1px solid;
  border-radius: 9999px;
  box-sizing: border-box;
  color: var(--base07);
  margin: 0 0.525em 0.525em 0;
  padding: 0 0.25em;
  width: 3.525em;
  height: 1.8em;
  text-align: center;
}

.data input[type=number]::-webkit-inner-spin-button,
.data input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.data input[type=checkbox] {
  margin-right: 0;
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
}

.data input[type=checkbox] + label::before {
  content: '';
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 1px solid;
  border-radius: 9999px;
  box-sizing: border-box;
  color: var(--base07);
  margin: 0 0.525em 0 -1.5em;
  width: 1.5em;
  height: 1.5em;
}

.data input:disabled,
.data input[type=checkbox]:disabled + label::before {
  color: var(--base05);
  cursor: unset;
}

.data input[type=checkbox]:disabled:checked + label::before {
  background: var(--base05);
}

.data input[type=checkbox]:checked + label::before {
  background: var(--base07);
}

.data input[type=checkbox]:indeterminate + label::before {
  background: none;
  border: 0.25em solid var(--base06);
}